<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: white;}
p    {color: red;}
</style>
</head>
<body>

<h1>welcom</h1>
<p>This is a nice paragraph.</p>

</body>
</html>